<%- include('../partials/header') %>

<section id="show-page">
    <div>Artist:</div>
    <div><%= artist.name %></div>
    <div>Genre:</div>
    <div><%= artist.genre %></div>
    <div>Year Founded</div>
    <div><%= artist.yearFounded %></div>
    <div>Musicians:</div>
    <ul>
      <%- artist.musicians.map(p => 
        `<li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>`
      ).join('') %>
    </ul>
  </section>
 
  <form id="add-to-musicians" action="/artists/<%= artist._id%>/musicians" method="POST">
    <select name="musicianId">
      <%- musicians.map(p => 
        `<option value="${p._id}">${p.name}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add Musician to Artist</button>
 
  </form>
    <h2>Albums</h2>
    <form id="add-album" method="POST" action="/artists/<%= artist._id %>/albums">
    <label>Album:</label>
    <input type="text" name="name">
    <label>Genre:</label>
    <input type="text" name="genre">    
    <label>Release Year:</label>
    <input type="text" name="releaseYear">
    <input type="submit" value="Add Album">
    </form>
</section>

<% if (artist.albums.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date Added</th>
          <th>Album</th>
          <th>Genre</th>
          <th>Release Year</th>
        </tr>
      </thead>
      <tbody>
        <% artist.albums.forEach(function(r) { %>
          <tr>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.name %></td>
            <td><%= r.genre %></td>
            <td><%= r.releaseYear %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Albums Yet</h5>
  <% } %>